<p><%= Time.current.strftime("%Y年%m月%d日 %H:%M") %>更新</p><br>
<p><%= year_number %>年<%= start_month %>月のハッカソン・ゲームジャム・開発合宿の開催情報を定期的に紹介!!</p><br><br>
<h1>これから開催されるイベント</h1><br><br>
<% before_events.each do |event| %>
  <%= event_blogger_html_field(event) %>
<% end %>

<% if after_events.present? %>
  <hr>
  <h1>すでに終了したイベント</h1>
  <% after_events.each do |event| %>
    <%= event_blogger_html_field(event) %>
  <% end %>
<% end %>

<% if closed_events.present? %>
  <hr>
  <h1>中止したイベント</h1>
  <% closed_events.each do |event| %>
    <%= event_blogger_html_field(event) %>
  <% end %>
<% end %>